
body {
    background: white;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 5px;
}


.main {
    margin-top: 100px;
    text-align: center;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}


img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.logo-img {
    width: 300px;
    margin-bottom: 20px;
}


.search-input {
    display: block;
    width: 500px;
    margin: 0 auto;
    line-height: 30px;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn {
    margin: 20px 4px 0;
    background: #dfe1e5;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}


.item {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}